<html>


<h1>Job Tracker</h1>

<p>A simple job status tracker using Django and MongoDB, to provide REST interface for job status. Using Django and MongoDB</p>


<h2>REST interface</h2>
<h3>GET</h3>
<ul>
    <li>https://grassroots.tools/job-tracker/rest/get_jobs</li>
    <li>https://grassroots.tools/job-tracker/rest/get_job/job_id</li>

</ul>
<h3>POST</h3>
<ul>
    <li>https://grassroots.tools/job-tracker/rest/update_job/server_id</li>

</ul>

<p>rest interface takes care of timestamp when inserting and updating</p>

<pre>
  {
    "so:description": "Chapman et al 2015 Whole-genome shotgun of hexaploid wheat Synthetic W7984 6,870,110 sequences; 9,134,017,866 total bases",
    "_id": {
      "$oid": "5d35e85a0617ebce3da190cf"
    },
    "so:name": "Chinese Spring",
    "status_text": "Started",
    "status": 2,
    "timestamp": "2019-07-22 16:46:32",
    "job_uuid": "f3037e64-5159-46e3-944c-28b3491b84b9",
    "server_id": "grassroots-backend",
    "job_type": "blast_service_job",
    "service_name": "BlastN"
  }
</pre>

<h2>HTML view</h2>

<p>Using jQuery and DataTable</p>

<p><a href="https://grassroots.tools/job-tracker/view_jobs">View all jobs in html</p>

</html>