<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View all Jobs</title>
</head>
<body>
    <h1>View all Jobs</h1>

    <p>Number of jobs: {{ data|length }}</p>

    <table>
        <th>
            <td>Job ID</td>
            <td>Status</td>
            <td>Service</td>
            <td>Description</td>
            <td>Server</td>
            <td>Timestamp</td>
        </th>

        {% for element in data %}

        <tr>
            <td>{{ element.job.job_uuid }}</td>
            <td>{{ element.job.status_text }}</td>
            <td>{{ element.job.service_name }}</td>
            <td>{{ element.job.description }}</td>
            <td>{{ element.server_id }}</td>
            <td>{{ element.timestamp }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>