<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Job</title>
    {% load static %}
    <!--jQuery-->
    <script type="text/javascript" src="{% static 'scripts/jquery/js/jquery-3.1.1.min.js' %}"></script>

    <script type="text/javascript" src="/static/scripts/jquery/json-viewer/jquery.json-viewer.js"></script>

    <link rel="stylesheet" href="/static/scripts/jquery/json-viewer/jquery.json-viewer.css"
          type="text/css"/>

    <!-- bootstrap -->
    <script src="{% static 'scripts/bootstrap/js/bootstrap.min.js' %}"
            type="text/javascript"></script>
    <link href="{% static 'scripts/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div style="padding:20px;">
    <h1>View Job </h1>
    <pre id="job_viewer"></pre>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        var job_json = JSON.parse('{{ data|safe }}');
        $('#job_viewer').jsonViewer(job_json[0], {collapsed: false, withQuotes: true});

    });
</script>
</body>
</html>